<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :term_from %>
    <%= form.datetime_select :term_from, id: :schedule_term_from %>
  </div>

  <div class="field">
    <%= form.label :term_to %>
    <%= form.datetime_select :term_to, id: :schedule_term_to %>
  </div>

  <% if @schedule.persisted? %>
    <div class="field">
      <%= form.label :target %>
      <%= form.number_field :target, id: :schedule_target %>
    </div>

    <div class="field">
      <%= form.label :achievement %>
      <%= form.number_field :achievement, id: :schedule_achievement %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :schedule_body %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :schedule_destination %>
  </div>

  <% if !@schedule.persisted? %>
    <div class="field">
      <%= form.label :action_plan %>
      <%= form.collection_select :action_plan_id, ActionPlan.all, :id, :body, prompt: true %>
    </div>
  <% end %>

  <% if @schedule.persisted? %>
    <div class="field">
      <%= form.label :interview %>
      <%= form.check_box :activity_interview,
      id: :schedule_activity_interview %>
    </div>

    <div class="field">
      <%= form.label :inspection %>
      <%= form.check_box :activity_inspection,
      id: :schedule_activity_inspection %>
    </div>

    <div class="field">
      <%= form.label :presentation %>
      <%= form.check_box :activity_presentation,
      id: :schedule_activity_presentation %>
    </div>

    <div class="field">
      <%= form.label :engagement %>
      <%= form.check_box :activity_engagement,
      id: :schedule_activity_engagement %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
