<h1>Schedules</h1>

<%= form_tag(schedules_path, method: "get") do %>
  <div class="field">
    <%= datetime_select :term_from, id: :schedule %>
  </div>

  <div class="field">
    <%= datetime_select :term_to, :id %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search!' %>
  </div>
<% end %>

<%= form_tag(schedules_path, method: "get") do %>
  <div class="field">
    <%= text_field_tag :achievement, params[:achievement] %>
  </div>

  <div class="actions">
    <%= submit_tag 'Search!' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Term from</th>
      <th>Term to</th>
      <th>Target</th>
      <th>Achievement</th>
      <th>Body</th>
      <th>Destination</th>
      <th>Action Plan</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.term_from %></td>
        <td><%= schedule.term_to %></td>
        <td>
          <% if schedule.target == 0 %>
            <%= '未設定' %>
          <% else %>
            <%= schedule.target %>
          <% end %>
        </td>
        <td>
          <% if schedule.achievement == 0 %>
            <%= '未設定' %>
          <% else %>
            <%= schedule.achievement %>
          <% end %>
        </td>
        <td><%= schedule.body %></td>
        <td><%= schedule.destination %></td>
        <td><%= schedule.action_plan.body %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Dashboards', dashboards_path(action_plan_id: schedule.action_plan_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
