<p>
  <strong>Term from:</strong>
  <%= @schedule.term_from %>
</p>

<p>
  <strong>Term to:</strong>
  <%= @schedule.term_to %>
</p>

<p>
  <strong>Target:</strong>
  <%= @schedule.target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @schedule.achievement %>
</p>

<p>
  <strong>Body:</strong>
  <%= @schedule.body %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @schedule.destination %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
