<p>
  <strong>Term from:</strong>
  <%= @action_plan.term_from %>
</p>

<p>
  <strong>Term to:</strong>
  <%= @action_plan.term_to %>
</p>

<p>
  <strong>Target:</strong>
  <%= @action_plan.target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @action_plan.achievement %>
</p>

<p>
  <strong>Body:</strong>
  <%= @action_plan.body %>
</p>

<%= link_to 'Edit', edit_action_plan_path(@action_plan) %> |
<%= link_to 'Back', action_plans_path %>
